#about-container {
  scroll-snap-align: start;
  height: 100vh;
}

#about-color {
  height: 100vh;
  background-color: #ff8c64;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about {
  min-height: 700px;
  width: 80%;
  margin-top: 2.5rem;
  margin-bottom: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#about h1 {
  font-weight: 700;
  font-size: 5em;
}

.blurb {
  font-weight: 400;
  font-size: 1.25rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.stacks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list {
  padding-inline-start: 0px;
}

#about li {
  list-style: none;
  font-size: 1.25rem;
}

.front-end {
  padding-right: 2rem;
}

.back-end {
  padding-left: 2rem;
}

#about h3 {
  font-size: 1.5rem;
}

.and {
  font-size: 10rem;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
}
