.App-home {
  background-color: #fff587;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-link {
  text-align: left;
  width: 200px;
  border-bottom: 1px solid black;
  cursor: pointer;
  transition-property: padding;
  transition-duration: 2s;
}

.home-link:hover {
  padding-left: 200px;
}

.home-link:hover h1 {
  color: #ff665a;
}

.about {
  border-top: 1px solid black;
}

.home-link h1 {
  font-family: "Source Code Pro";
  color: black;
  font-weight: 400;
  font-size: 30px;
}

.tablet-header {
  height: 67px;
  justify-content: start;
}

.me {
  font-weight: 400;
  font-size: 60px;
  padding-top: 80px;
}

.home h2 {
  font-size: 30px;
}

/* .animate__fadeInDownBig.animate__bounce {
  --animate-duration: 2s;
} */
