#contact-container {
  scroll-snap-align: start;
}

#contact-color {
  height: 100vh;
  background-color: #7d6b7d;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact {
  min-height: 700px;
  width: 80%;
  margin-top: 20vh;
  margin-bottom: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.title {
  font-weight: 500;
  font-size: 70px;
}

.social {
  padding: 20px;
  color: #a3a1a8;
}

#one.social:hover {
  color: #fff587;
}

#two.social:hover {
  color: #ff665a;
}

#three.social:hover {
  color: #ff8c64;
}

#four.social:hover {
  color: #fff587;
}
