.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
}

html {
  scroll-snap-type: y proximity;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Code Pro";
}

#bottom-button {
  position: fixed;
  bottom: 15px;
  z-index: 10;
  font-size: 20px;
  transition-property: font-size;
  transition-duration: 0.3s;
  cursor: pointer;
}

#bottom-button:hover {
  font-size: 40px;
}

#top-button {
  position: fixed;
  top: 10px;
  z-index: 10;
  font-size: 20px;
  transition-property: font-size;
  transition-duration: 0.3s;
  cursor: pointer;
}

#top-button:hover {
  font-size: 40px;
}

.heading {
  font-weight: 500;
  font-size: 3.5rem;
  margin-block-start: 0;
  margin-block-end: 0;
}

/* HOME */

.App-home {
  background-color: #fff587;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-evenly;
}

.link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-link {
  text-align: left;
  width: 200px;
  border-bottom: 1px solid black;
  cursor: pointer;
  transition-property: padding;
  transition-duration: 2s;
}

.home-link:hover {
  padding-left: 200px;
}

.home-link:hover h1 {
  color: #ff665a;
}

.about {
  border-top: 1px solid black;
}

.home-link h4 {
  font-family: "Source Code Pro";
  color: black;
  font-weight: 400;
  font-size: 30px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.tablet-header {
  height: 67px;
  justify-content: start;
}

.me {
  font-weight: 400;
  font-size: 60px;
  padding-top: 80px;
}

.home h2 {
  font-size: 30px;
}

/* ABOUT */

#about-container {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ff8c64;
  justify-content: space-evenly;
}

#about-container h1 {
  font-weight: 700;
  font-size: 5em;
  margin-block-end: 0;
  margin-block-start: 0;
}

.blurb {
  font-weight: 400;
  font-size: 1.25rem;
  padding-left: 10rem;
  padding-right: 10rem;
  line-height: 1.5rem;
}

.stacks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list {
  padding-inline-start: 0px;
}

#about-container li {
  list-style: none;
  font-size: 1.25rem;
}

.front-end,
.back-end {
  width: 25%;
}

#about-container h3 {
  font-size: 1.5rem;
}

.and {
  font-size: 10rem;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
}

/* PROJECTS */

#projects-container {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #ff665a;
  justify-content: space-evenly;
}

#projects {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 5rem;
  margin-left: 5rem;
}

ul.tech-list {
  display: inline-flex;
  align-items: center;
  padding-inline-start: 0px;
  width: 100%;
  justify-content: space-evenly;
}

.tech-list > li {
  list-style-type: none;
  text-align: center;
  padding: 5px;
  font-size: 0.75rem;
  font-weight: 600;
}

.project-card {
  margin: 20px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 0.9em;
  height: 65vh;
  flex-grow: 1;
  width: 25%;
  background-color: #f0f0f2;
}

.project-context {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#projects p {
  font-size: 0.75rem;
  font-weight: 500;
  padding: 0px 10px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links a {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

#projects h3 {
  color: black;
  font-size: 15px;
}

img {
  width: 100%;
  border-bottom: 2px solid black;
  transition-property: opacity;
  transition-duration: 1s;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* img:hover {
  opacity: 75%;
} */

/* CONTACT */
#contact-container {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #7d6b7d;
  justify-content: space-evenly;
}

.social {
  padding: 20px;
  color: #f0f0f2;
  transition-property: color;
  transition-duration: 0.75s;
}

#one.social:hover {
  color: #fff587;
}

#two.social:hover {
  color: #ff665a;
}

#three.social:hover {
  color: #ff8c64;
}

#four.social:hover {
  color: #fff587;
}

#contact-container p {
  font-size: 1.25rem;
}

@media only screen and (max-width: 650px) {
  #top-button,
  #bottom-button {
    display: none;
  }

  /* .App-home {
    height: auto;
  }

  #about-container {
    height: auto;
  } */

  #about-container h1 {
    font-size: 50px;
    padding: 1rem;
  }

  .blurb {
    padding: 1rem;
  }

  .front-end,
  .back-end {
    width: auto;
  }

  #projects-container {
    height: auto;
  }

  .heading {
    font-size: 50px;
  }

  #projects {
    flex-direction: column;
    margin: auto;
  }

  .project-card {
    width: auto;
    height: auto;
  }

  /* #contact-container {
    height: auto;
  } */

  .me {
    padding-top: 0;
    font-size: 50px;
  }
}
